# IDEs
.idea
.vscode

## OS configs
.DS_Store

# Venv
dvc-venv/*
dvc-venv/

# Project
#notebooks/*.ipynb
data/raw/*
data/processed/*
models/*
#reports/*

# Python
__pycache__
.ipynb_checkpoints
src/data/__pycache__
src/features/__pycache__
src/report/__pycache__
src/stages/__pycache__
src/train/__pycache__

